.line1 svg{
    position: absolute;
    margin: auto;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 349px;
}

.line2 svg {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.line3 svg {
    position: absolute;
    margin: auto;
    top: 150px;
    left: 0;
    bottom: 0;
    right: 0;
}

.services p {
    text-align: left;
}

.services_text {
    text-align: left;
    position: absolute;
    left: 28%;
    top: 1800px;
}

.services_text2 {
    text-align: left;
    position: absolute;
    left: 67%;
    top: 1800px;
}

.services_text3 {
    text-align: left;
    position: absolute;
    left: 28%;
    top: 2215px;
}