.line1 svg{
    position: absolute;
    margin: auto;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 349px;
}

.line2 svg {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.line3 svg {
    position: absolute;
    margin: auto;
    top: 150px;
    left: 0;
    bottom: 0;
    right: 0;
}

.services p {
    text-align: left;
}