.arrow1 svg {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 200px;
    right: 0;
}

.arrow2 svg {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 200px;
    right: 0;
}

.arrow3 svg {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 200px;
    right: 0;
}