.card {
    align-items: center; 
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    width: 16.5rem;
}

.card-img-top {
    width: 100px; 
}

.css-view-1dbjc4n {
    flex-flow: column wrap;
}