.card {
    align-items: center; 
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    width: 16.5rem;
}

.card-img-top {
    width: 100px; 
}

.css-view-1dbjc4n {
    flex-flow: column wrap;
}

.filter{
    display: none
}

@media screen and (max-width: 992px){
    .col-3 {
        max-width: none;
        flex: auto;
        margin-top: 5em;
    }

    .col-9 {
        margin-top: 5em;
        flex: auto;
    }

    .filter{
        display: block
    }

    .displayFilter{
        display: none
    }

    .card{
        width: 10rem;
    }
}