@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto-Regular.ttf');
}

body{
    font-family: 'Roboto', sans-serif;
}

a:link{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

ul li {

}